.header{
    border-bottom:1px solid lightgrey;
    padding-bottom: 20px;
}

.borderlessInput{
    border:none;
    border-color: transparent;
    background-color: dimgray;
    height: 40px;
    vertical-align: middle;
    width: 400px;
    font-size: 24px;
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
}