.btn-style {
    background-color: transparent;    
    border: 1px solid  #d6d6d6;
    border-radius: 5%;
    min-width: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.btn-style-active {
    border: 2px solid #add8e6;
}