.checkbox {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: 0px;
  cursor: pointer;
}

.checkbox-grayout {
  opacity: 0.2;
  color: #d9d9dd;
  cursor: not-allowed;
}
