.checklist-container {
    border: groove;
    width: 60%;
    height: 80%;
}

.checklist-input {
    width: 100%;
    height: 34px;
    border: 2;
    margin: 5px;
    font-size: 24px;
}

.list-container {
    height: 100%;
    min-height: 400px;
}

.input-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 2px solid gray;
}

.footer-container {
    border-top: 1px solid gray;
    display: flex;
    align-content: center;
    width: 100%;
}

ul {
    padding: 0;
    width: 100%;
    margin: auto;
}

.list-count-input {
    font-size: 16px;
    height: 100%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.clear-completed-comp {
    margin-right: 10px;
}

.invisible {
    opacity: 0;
}