.row {
    display: inline;
}

.filter-btn {
    background-color: transparent;    
    border: 1px solid  #d6d6d6;
    border-radius: 10%;
    min-width: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

.filter-active {
    border: 2px solid #add8e6;
}


.list-count-input {
    width: 200px;
    height: 30px;
    margin: 5px;
    font-size: 16px;
}