.box {
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-repeat: no-repeat;
}

li {
    border-bottom: 1px solid gray;
    width: 100%;    
    display: flex;
    align-content: center;
    margin-top: 5px;
}

.box-delete {
    background-image: url("../resources/delete.svg");
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}